# Realtor.com  + Zillow.com

In [43]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine,inspect
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import os
import numpy as np
from pprint import pprint

### Store CSV into DataFrame

In [4]:
csv_file = os.path.join("Resources", "realtor.csv")
realtor_data = pd.read_csv(csv_file)
realtor_data.head()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202009,97703,"bend, or",*,914549.5,0.0218,NaN,107.0,0.0700,NaN,...,0.0388,1198963.0,0.0281,0.2502,288.0,-0.0799,-0.3394,1.6916,-0.4384,1.3075
1,202009,4572,"waldoboro, me",NaN,235050.0,0.0981,0.0380,17.0,0.2143,-0.4848,...,0.3504,287365.0,0.0986,0.1052,23.0,0.2105,-0.4103,0.3529,-0.0042,0.1711
2,202009,85379,"surprise, az",*,340050.0,0.0625,NaN,54.0,0.4211,NaN,...,-0.1608,355044.0,0.0307,0.0626,218.0,-0.0046,-0.3272,3.0370,-1.7261,2.0120
3,202009,14845,"horseheads, ny",*,278500.0,-0.0656,0.1091,38.0,-0.0256,NaN,...,-0.0954,274070.0,-0.0076,0.0179,86.0,-0.0227,-0.0549,1.2632,0.0067,0.5780
4,202009,62454,"robinson, il",NaN,109950.0,0.0000,-0.0443,88.0,-0.0435,-0.1927,...,-0.1889,135324.0,0.0107,-0.0552,91.0,-0.0619,-0.1727,0.0341,-0.0203,0.0249

### Create new data with select columns

In [5]:
#Replace dtype of postal code (float) to postal code(int)
realtor_data['postal_code'] = realtor_data['postal_code'].replace(to_replace = r'^.[a-zA-Z].*$', value=0, regex=True)
realtor_data['postal_code'] = realtor_data['postal_code'].astype('int')

#Filter out zip codes not in Texas
realtor_data_clean = realtor_data.loc[(realtor_data['postal_code'] >= 73301) & (realtor_data['postal_code'] <= 88595)]
realtor_data1_clean = realtor_data_clean.sort_values(by=['postal_code'])
# realtor_data_clean.head()

#Clean up columns
realtor_data2_clean = realtor_data1_clean[['postal_code', 'median_listing_price','average_listing_price','total_listing_count','median_listing_price_per_square_foot']]

#Rename columns
realtor_data3_clean = realtor_data2_clean.rename(columns={'postal_code':'ZipCode'})
realtor_data4_clean = realtor_data3_clean.set_index('ZipCode')

realtor_data4_clean.head(50)

,median_listing_price,average_listing_price,total_listing_count,median_listing_price_per_square_foot
ZipCode,,,,
73401,192000.0,267490.0,185.0,89.786611
73439,375050.0,475986.0,49.0,163.076923
73501,105300.0,120293.0,19.0,72.311905
73505,114950.0,158406.0,147.0,79.123839
73507,94900.0,129897.0,77.0,68.569264
73521,149750.0,159275.0,104.0,81.570785
73533,135050.0,162971.0,153.0,73.625460
73538,260050.0,265075.0,16.0,124.356061
73554,88500.0,91918.0,21.0,52.917903
73601,140000.0,165453.0,52.0,70.896985
73632,79950.0,89666.0,30.0,57.989691
73644,145800.0,180305.0,148.0,87.482310
73662,109050.0,163561.0,30.0,71.667555
73701,107450.0,140458.0,67.0,64.396552
73703,192800.0,242026.0,230.0,100.047139
73717,104550.0,138539.0,57.0,71.503465
73750,185000.0,201617.0,41.0,101.346570
73772,116050.0,147536.0,21.0,68.512240
73801,130050.0,179447.0,104.0,90.593312
73860,60050.0,70865.0,15.0,48.067393
74003,87800.0,138058.0,67.0,62.047740
74006,176450.0,217656.0,129.0,77.924467
74008,358750.0,395815.0,327.0,130.477456
74011,310049.0,436773.0,201.0,111.731205
74012,234800.0,239553.0,276.0,102.834862
74014,297047.5,312572.0,293.0,121.270946
74015,310050.0,554143.0,41.0,119.440792
74017,187550.0,248468.0,102.0,98.454502
74019,247000.0,319893.0,87.0,113.347172
74020,250050.0,254273.0,32.0,94.664363
74021,266000.0,285659.0,93.0,121.998345
74023,112550.0,129315.0,44.0,70.536334
74033,205050.0,254807.0,52.0,118.101371
74037,349750.0,407917.0,170.0,126.922396
74048,71050.0,94098.0,34.0,59.862705
74055,327050.0,405134.0,296.0,127.734532
74058,104799.5,122842.0,27.0,57.753165
74059,176800.0,186999.0,29.0,106.528981
74063,202000.0,238314.0,107.0,100.512142
74066,188000.0,245294.0,113.0,101.403585
74070,229050.0,267885.0,78.0,110.404365
74073,401550.0,495255.0,33.0,135.454545
74074,289950.0,373832.0,133.0,125.947658
74075,202050.0,222054.0,86.0,113.099688
74104,267045.0,286872.0,66.0,166.295318
74105,487000.0,602649.0,172.0,178.397401
74106,89850.0,118850.0,30.0,80.926413
74107,117050.0,200330.0,38.0,89.977477
74112,142500.0,160353.0,67.0,95.657954
74114,662050.0,780400.0,130.0,202.748964

### Store JSON data into a DataFrame

In [6]:
csv1_file = os.path.join("Resources_Zillow", "AllRegionsForPublic.csv")
zillow_data = pd.read_csv(csv1_file)
zillow_data.head()

,Region,RegionName,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
0,Country,United States,NaN,NaN,NaN,9/30/2021,7.0
1,State,Alabama,AL,NaN,NaN,9/30/2021,7.2
2,State,Alaska,AK,NaN,NaN,9/30/2021,3.9
3,State,Arizona,AZ,NaN,NaN,9/30/2021,8.2
4,State,Arkansas,AR,NaN,NaN,9/30/2021,6.6

### Clean DataFrame

In [7]:
zillow_data.dtypes

Region                   object
RegionName               object
StateName                object
CountyName               object
CityName                 object
ForecastedDate           object
ForecastYoYPctChange    float64
dtype: object

In [8]:
#Filter data to include Zipcode in Texas
zillow_data_clean = zillow_data.loc[(zillow_data['Region']=='Zip') & (zillow_data['StateName']=='TX')]

# Convert to float & int
zillow_data_clean['RegionName'] = pd.to_numeric(zillow_data_clean['RegionName'])
zillow_data_clean.dtypes

<ipython-input-8-7ab5ef3a478d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zillow_data_clean['RegionName'] = pd.to_numeric(zillow_data_clean['RegionName'])

Region                   object
RegionName                int64
StateName                object
CountyName               object
CityName                 object
ForecastedDate           object
ForecastYoYPctChange    float64
dtype: object

In [9]:
zillow_data2_clean = zillow_data_clean.loc[(zillow_data_clean['RegionName']>=70000)]
zillow_data3_clean = zillow_data2_clean.sort_values(by=['RegionName'])

#Chose columns to include in analysis, rename columns, and reset index
zillow_data4_clean = zillow_data3_clean[['RegionName', 'StateName','CountyName','CityName','ForecastedDate','ForecastYoYPctChange']]
zillow_data5_clean = zillow_data4_clean.rename(columns={'RegionName':'ZipCode'})
zillow_data6_clean = zillow_data5_clean.set_index('ZipCode')

zillow_data6_clean.head(10)

,StateName,CountyName,CityName,ForecastedDate,ForecastYoYPctChange
ZipCode,,,,,
75001,TX,Dallas County,Addison,9/30/2021,5.8
75002,TX,Collin County,Allen,9/30/2021,6.9
75006,TX,Denton County,Carrollton,9/30/2021,6.0
75007,TX,Denton County,Carrollton,9/30/2021,7.0
75009,TX,Collin County,Celina,9/30/2021,7.0
75010,TX,Denton County,Carrollton,9/30/2021,6.6
75013,TX,Collin County,Allen,9/30/2021,6.5
75019,TX,Dallas County,Coppell,9/30/2021,6.1
75020,TX,Grayson County,Denison,9/30/2021,8.5
75021,TX,Grayson County,Denison,9/30/2021,7.3

In [10]:
realtor_df = realtor_data4_clean.reset_index()
zillow_df = zillow_data6_clean.reset_index()

In [11]:
realtor_df.rename(columns={'ZipCode':'zipcode'}, inplace=True)
zillow_df.rename(columns={'ZipCode':'zipcode','StateName':'statename','CountyName':'countyname',\
                          'CityName': 'cityname','ForecastedDate':'forecasteddate','ForecastYoYPctChange':'forecastyoypctchange'}, inplace=True)

In [12]:
zillow_df.columns.tolist()

['zipcode',
 'statename',
 'countyname',
 'cityname',
 'forecasteddate',
 'forecastyoypctchange']

### Connect to local database

In [14]:
pg_user = 'postgres'
pg_password = '1988'
db_name = 'properties_db'

connection_string = f"{pg_user}:{pg_password}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

#before runining this create a database in postgres that the file will write to.

### Check for tables

In [15]:
engine.table_names()

##confirm that there are no table in the SQL database

['zillow', 'realtor']

### Use pandas to load csv converted DataFrame into database

In [16]:
realtor_df.to_sql(name='realtor', con=engine, if_exists='append', index=False)

#to sqlfunction... uses the tables that have been created in pandas and writes it to sql as is.

### Use pandas to load json converted DataFrame into database

In [17]:
#before running this create table,describe tableformatting and specifying primary key. then use Pandas to write to the file
#this ensures that the table doesnt have duplicates. since it callson the primary key it wont allow that to happen


zillow_df.to_sql(name='zillow', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the Zillow table

In [18]:
pd.read_sql_query('select * from zillow', con=engine).head()

,zipcode,statename,countyname,cityname,forecasteddate,forecastyoypctchange,id
0,75001,TX,Dallas County,Addison,2021-09-30,5.8,1
1,75002,TX,Collin County,Allen,2021-09-30,6.9,2
2,75006,TX,Denton County,Carrollton,2021-09-30,6.0,3
3,75007,TX,Denton County,Carrollton,2021-09-30,7.0,4
4,75009,TX,Collin County,Celina,2021-09-30,7.0,5

### Confirm data has been added by querying the Realtor table

In [19]:
pd.read_sql_query('select * from realtor', con=engine).head()

,zipcode,median_listing_price,average_listing_price,total_listing_count,median_listing_price_per_square_foot,id
0,73401,192000,267490,185,89.786611,1
1,73439,375050,475986,49,163.076923,2
2,73501,105300,120293,19,72.311905,3
3,73505,114950,158406,147,79.123839,4
4,73507,94900,129897,77,68.569264,5

In [37]:
#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

#Map the two tables
realtor = Base.classes.realtor
zillow = Base.classes.zillow

#Inspect engine for table names
inspector = inspect(engine)
inspector.get_table_names()

['zillow', 'realtor']

In [53]:
session = Session(bind=engine)
property = session.query(realtor.zipcode,
                             realtor.median_listing_price,
                             realtor.average_listing_price,
                             realtor.total_listing_count,
                             realtor.median_listing_price_per_square_foot,
                             zillow.zipcode, zillow.statename, 
                             zillow.countyname, zillow.cityname, zillow.forecasteddate,
                             zillow.forecastyoypctchange).filter(realtor.zipcode == zillow.zipcode).limit(10)

In [44]:
for prop in property_join:
    pprint(prop)

(75001,
 375000,
 377362,
 43,
 Decimal('197.9213582'),
 75001,
 'TX',
 'Dallas County',
 'Addison',
 datetime.date(2021, 9, 30),
 Decimal('5.8'))
(75002,
 377050,
 714839,
 225,
 Decimal('168.9975926'),
 75002,
 'TX',
 'Collin County',
 'Allen',
 datetime.date(2021, 9, 30),
 Decimal('6.9'))
(75006,
 289550,
 291736,
 104,
 Decimal('158.31545630000002'),
 75006,
 'TX',
 'Denton County',
 'Carrollton',
 datetime.date(2021, 9, 30),
 Decimal('6.0'))
(75007,
 320050,
 334814,
 145,
 Decimal('155.0796798'),
 75007,
 'TX',
 'Denton County',
 'Carrollton',
 datetime.date(2021, 9, 30),
 Decimal('7.0'))
(75009,
 437545,
 487174,
 308,
 Decimal('161.0922294'),
 75009,
 'TX',
 'Collin County',
 'Celina',
 datetime.date(2021, 9, 30),
 Decimal('7.0'))
(75010,
 398500,
 428753,
 96,
 Decimal('166.6187302'),
 75010,
 'TX',
 'Denton County',
 'Carrollton',
 datetime.date(2021, 9, 30),
 Decimal('6.6'))
(75013,
 482025,
 555876,
 226,
 Decimal('167.0983915'),
 75013,
 'TX',
 'Collin County',
 'Allen',
 datetime.date(2021, 9, 30),
 Decimal('6.5'))
(75019,
 494500,
 600445,
 161,
 Decimal('173.135052'),
 75019,
 'TX',
 'Dallas County',
 'Coppell',
 datetime.date(2021, 9, 30),
 Decimal('6.1'))
(75020,
 217550,
 282382,
 166,
 Decimal('125.9090909'),
 75020,
 'TX',
 'Grayson County',
 'Denison',
 datetime.date(2021, 9, 30),
 Decimal('8.5'))
(75021,
 199050,
 265651,
 36,
 Decimal('123.427673'),
 75021,
 'TX',
 'Grayson County',
 'Denison',
 datetime.date(2021, 9, 30),
 Decimal('7.3'))

In [54]:
property_join = pd.read_sql(session.query(realtor.zipcode,zillow.statename, 
                        zillow.countyname, zillow.cityname,
                        realtor.total_listing_count,
                        realtor.median_listing_price,
                        realtor.average_listing_price,
                        realtor.median_listing_price_per_square_foot, 
                        zillow.forecasteddate,
                        zillow.forecastyoypctchange)\
                        .filter(realtor.zipcode == zillow.zipcode).limit(50).statement, engine)

In [55]:
property_join.head()

,zipcode,statename,countyname,cityname,total_listing_count,median_listing_price,average_listing_price,median_listing_price_per_square_foot,forecasteddate,forecastyoypctchange
0,75001,TX,Dallas County,Addison,43,375000,377362,197.921358,2021-09-30,5.8
1,75002,TX,Collin County,Allen,225,377050,714839,168.997593,2021-09-30,6.9
2,75006,TX,Denton County,Carrollton,104,289550,291736,158.315456,2021-09-30,6.0
3,75007,TX,Denton County,Carrollton,145,320050,334814,155.079680,2021-09-30,7.0
4,75009,TX,Collin County,Celina,308,437545,487174,161.092229,2021-09-30,7.0